* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
}

.upper-main {
    display:flex;
    justify-content: space-between;
    width:80%;
    margin:100px auto 0 auto;

}

.upper-left-main {
    width: 40%;
}

.upper-left-main h1 {
    padding-bottom:10px;
    color: hsl(300, 43%, 22%)
}

.upper-left-main p {
    line-height: 1.5;
    color: hsl(303, 10%, 53%)
}

.upper-right-main p {
    background: hsl(300, 24%, 96%);
    border-radius: 10px;
    border: none;
    padding:10px 30px;
    margin-bottom: 15px;
    color:hsl(300, 43%, 22%);
    font-weight: 700;
}

.upper-right-main p:nth-last-child(2) {
    margin-right: 20px;
}

.upper-right-main p:first-child {
    margin-right: 40px
}

.bottom-main {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 50px auto 100px auto;
}

.flex-box {
    display: flex;
    
}

.col {
    width: 31%;
    padding: 20px;
    background:hsl(300, 43%, 22%);
    border-radius: 10px;
    border: none;
    font-size: 14px
}

.flex-box img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}

.titles h2 {
    font-size: 16px;
    color: white;
}

.titles h3 {
    font-size: 15px;
    color: hsl(333, 80%, 67%);
    font-weight: 400
}

.col p {
    line-height: 1.5;
    color: white;
    padding-top: 40px;
}

.col:nth-child(2) {
    margin-top:20px;
    

}

.col:last-child {
    margin-top:40px;
}

.challenge {
    width:40%;
    margin: auto;
    padding-bottom: 50px;
}